# Root password (installer will ask user)
d-i passwd/root-login boolean true
d-i passwd/make-user boolean false

# Do not ask for extra user
d-i passwd/user-fullname string
d-i passwd/username string
d-i passwd/user-password password
d-i passwd/user-password-again password

# Auto-install minimal system
d-i pkgsel/include string xorg lightdm wine winetricks
d-i pkgsel/upgrade select none

d-i passwd/root-password-crypted password *
